<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAu9gNlVPeItiss6AJJSC6Cq21WZcvdsak</string>
	<key>GCM_SENDER_ID</key>
	<string>870153058574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finandflow.globalkickoff</string>
	<key>PROJECT_ID</key>
	<string>global-kickoff-76ae0</string>
	<key>STORAGE_BUCKET</key>
	<string>global-kickoff-76ae0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870153058574:ios:078cd5e395dad9b590bf5f</string>
</dict>
</plist>